---
interface Props {
  label: string
  textAreaId: string
  buttonId: string
  buttonLabel: string
}

import '../../styles/global.css'

const { label, textAreaId, buttonId, buttonLabel } = Astro.props as Props
---

<label for={textAreaId} class="block text-white text-center">{label}</label>
<textarea id={textAreaId} class="comfy-text-area h-20"></textarea>
<div class="text-right">
  <button id={buttonId} type="button" class="submit-button"
    >{buttonLabel}</button
  >
</div>
